<form class="form-horizontal" id="update-user"  action="/user/update/" method="post">
  <div class="form-group">
    <label for="username" class="col-md-3 control-label">用户名:</label>
    <div class="col-md-5">
      <input type="text" class="form-control" name="username" value="{{user['username']}}" readonly="readonly"/>
    </div>
  </div>
  <div class="form-group">
    <label for="age" class="col-md-3 control-label">年龄:</label>
    <div class="col-md-5">
      <input type="text" class="form-control" name="age" value="{{user['age']}}" />
    </div>
  </div>
</form>
<script type="text/javascript">
  $(document).ready(function(){
    $('#update-user').bootstrapValidator({
      message: 'This value is not valid',
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        age: {
          validators: {
            notEmpty: {
              message: '年龄不能为空'
            },
            between: {
              min: 0,
              max: 100,
              message: '年龄必须为0到100岁'
            }
          }
        }
      }
    });
  });
</script>
