<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>用户列表</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->    
    <link rel="stylesheet" type= "text/css" href="{{url_for('static',filename='bootstrap-3.3.7-dist/css/bootstrap.min.css')}}"/> 
    <link rel="stylesheet" type= "text/css" href="{{url_for('static',filename='dashboard.css')}}" />
  </head>
  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">CMDB</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a>欢迎 {{session.get('user',{}).get('username','')}}</a></li>
          <li><a href="/logout/">退出登录</a></li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/users/">用户管理<span></span></a></li>
            <li><a href="/logs/">访问日志分析<span></span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% for msg in get_flashed_messages() %}
            <span>{{msg}}</span>
          {% endfor  %}
          <a class="btn btn-default" href='/user/create/'>添加用户</a>
          <table class="table table-bordered table-striped table-hover table-condensed" >
            <thead>
              <tr>
                <th>用户名</th>
                <th>密码</th>
                <th>年龄</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              {% for user in user_list %}
                <tr>
                <td>{{ user['username'] }}</td>
                <td>******</td>
                <td>{{ user['age'] }}</td>
                <td>
                  <!--
                  <a href="/user/modify/?username={{user['username']}}">修改</a>
                  <a href="/user/delete/?username={{user['username']}}" id ="delete-user">删除</a>
                  -->
                  <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#update-password" data-username="{{user['username']}}">修改密码</button>
                </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- 修改密码框 -->
    <div class="modal fade" id="update-password" tabindex="-1" role="dialog" aria-labelledby="update-password-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="update-password-label">密码修改</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="password-username" class="control-label">用户名</label>
                <input type="text" class="form-control" id="password-username" readonly="readonly"/>
              </div>
              <div class="form-group">
                <label for="password-manager-password" class="control-label">管理员密码</label>
                <input type="password" class="form-control" id="password-manager-password"/>
              </div>
              <div class="form-group">
                <label for="password-user-password" class="control-label">用户密码</label>
                <input type="password" class="form-control" id="password-user-password"/>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="password-commit">更新密码</button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{url_for('static',filename='jquery-1.12.4.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='bootstrap-3.3.7-dist/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript">
      // 是否删除用户
      $('#delete-user').on('click', function(){
        return confirm('确定删除吗?');
      });

      // 更新密码框弹出
      $('#update-password').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var username = button.data('username');
        //var modal = $(this);
        $('#password-username').val(username);
      }); 

      // 更新密码
      $('#password-commit').on('click', function(){
        var params = {};
        params['username'] = $('#password-username').val();
        params['manager-password'] = $('#password-manager-password').val();
        params['user-password'] = $('#password-user-password').val();
        $.post('/user/change-password/', params, function(data){
          if (data['is_ok']){
            alert('更新成功');
            $('#update-password').modal('hide');
            //window.location.replace('/users/')
            window.location.reload()
          }else{
            alert(data['error']);
          }
        },'json');
      });
    </script>
  </body>
</html>
